In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import  statsmodels.api as sm

In [3]:
x=pd.read_csv("1.02.+Multiple+linear+regression.csv")

In [5]:
x.head()

    SAT   GPA  Rand 1,2,3
0  1714  2.40           1
1  1664  2.52           3
2  1760  2.54           3
3  1685  2.74           3
4  1693  2.83           2

In [6]:
x.describe()

               SAT        GPA  Rand 1,2,3
count    84.000000  84.000000   84.000000
mean   1845.273810   3.330238    2.059524
std     104.530661   0.271617    0.855192
min    1634.000000   2.400000    1.000000
25%    1772.000000   3.190000    1.000000
50%    1846.000000   3.380000    2.000000
75%    1934.000000   3.502500    3.000000
max    2050.000000   3.810000    3.000000

#  Create Multiple Linear regression

In [8]:
X=x[["SAT","Rand 1,2,3"]]
Y=x[["GPA"]]

In [10]:
##Regression

In [11]:
lg=LinearRegression()

In [12]:
lg.fit(X,Y)

LinearRegression()

In [13]:
lg.score(X,Y)

0.40668119528142843

In [14]:
lg.coef_

array([[ 0.00165354, -0.00826982]])

In [15]:
lg.intercept_

array([0.29603261])

In [16]:
x=sm.add_constant(X)
result=sm.OLS(Y,x).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    GPA   R-squared:                       0.407
Model:                            OLS   Adj. R-squared:                  0.392
Method:                 Least Squares   F-statistic:                     27.76
Date:                Tue, 17 Aug 2021   Prob (F-statistic):           6.58e-10
Time:                        14:47:29   Log-Likelihood:                 12.720
No. Observations:                  84   AIC:                            -19.44
Df Residuals:                      81   BIC:                            -12.15
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.2960      0.417      0.710      0.480      -0.533       1.125
SAT            0.0017      0.000      7.432      0.000       0.001       0.002
Rand 1,2,3    -0.0083      0.027     -0.304      0.762      -0.062       0.046
==============================================================================
Omnibus:                       12.992   Durbin-Watson:                   0.948
Prob(Omnibus):                  0.002   Jarque-Bera (JB):               16.364
Skew:                          -0.731   Prob(JB):                     0.000280
Kurtosis:                       4.594   Cond. No.                     3.33e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.33e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

# Calculating the R-squared

In [18]:
r2=lg.score(X,Y)
n=X.shape[0]
p=X.shape[1]

In [19]:
adj_r2=1-(1-r2)*((n-1)/(n-p-1))

In [20]:
adj_r2

0.39203134825134023